html, body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
header, footer {
    width: 100%;
    background: black;
    display: flex;
    margin: 0;
}

footer {
    height: 100px;
}

.logo {
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: 100px;
    object-fit: cover;
}

.huge_photo {
    width: 100%;
    height: 720px;
    object-fit: cover;
    z-index: 0;
}

div.welcome {
}

div.gradient {
    width: 100%;
    height: 720px;
    position: absolute;
    top: 100px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.9));
}

.short_description {
    position: absolute;
    text-align: center;
    top: 450px;
    left: 20%;
    right: 20%;
    z-index: 2;
    font-size: 64px;
    color: white;
}

button {
    text-align: center;
    padding: 10px 35px;
    font-size: 26px;
    color: white;
    background: #8c6916;
    border-radius: 10px;
    border-color: black;
}

button.CTA {
    position: absolute;
    top: 700px;
    width: 30%;
    left: 35%;
    right: 35%;
    z-index: 2;
}

div.about {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
    alignment: right;
    font-size: 20px;
    color: dimgray;
}

div.photos_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.photos_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.photo1 {
    width: 50%;
    height: 750px;
    object-fit: cover;
}

img.photo2 {
    height: 370px;
    object-fit: cover;
}

img.photo3 {
    height: 370px;
    object-fit: cover;
}

img.photo4 {
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
}

div.contacts_container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: lightgray;
}

div.contacts_column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


div.contacts_column > div {
    margin: 5px;
}

div.contacts_row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

div.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-size: 24px;
}

a {
    color: lightgray;
    text-decoration: none;
}

img.contact_logo {
    height: 40px;
    object-fit: cover;
}

form.feedback {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    padding: 5px;
}

form.feedback > label {
    margin: 5px;
}

textarea.about_event {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

input.input_phone {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

button.order {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
